Makefile
Makefile.in
*.go
*.defs
.libs*
.deps*
TAGS
/aclocal.m4
/autom4te.cache/*
/support/build-aux/config.guess
/support/build-aux/config.sub
/support/build-aux/depcomp
/support/build-aux/install-sh
/support/build-aux/ltmain.sh
/support/build-aux/missing
/support/build-aux/test-driver
/support/m4/libtool.m4
/support/m4/ltoptions.m4
/support/m4/ltsugar.m4
/support/m4/ltversion.m4
/support/m4/lt~obsolete.m4
/test/works-without-noweb.sh
/src/config.h
/src/config.h.in
/libtool
/config.log
/config.status
/configure
